<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-theme.min.css" %}">
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script src="{% static "js/jquery-2.1.4.min.js" %}"></script>
    <script src="{% static "js/main1.js" %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <style>
        .navbar {
            background: #000;
            color: #fff;
        }
        .list-inline{
            padding: 2px;
            font-size: 1.5em;
            color: white;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default" style="
    border: 0px;
    margin: 0px;
    border-radius: 0px;
">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar" href="images/favicon.ico"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Montreal CanSat</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="form-inline pull-xs-right">
                <input class="form-control" type="text" placeholder="Search">
                <button class="btn btn-success-outline" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div id="ew" class="content-space-one">
    <div class="text-center">
        <h1>{{ company.name }}</h1>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 map">
            <h1>Sucursal: <br>{{ company.branch }}</h1>
            <h2>Datos de la Sucursal</h2>
            <p>Empleados: {{ company.employers_number }}</p>
            <p>Area Ocupada: {{ company.ocuped_area|floatformat:2 }}</p>
            <p>Energías Utilizadas: <br> {{ company.used_energies }}</p>
            <p>Direccion: <br> {{ company.address }}</p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 map">
            <div class="google-map-canvas" id="map-canvas"></div>

        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <h1>Valoracion </h1>
            <br>
            <img class="img-circle img-responsive center-block" src="{% static "images/gradient.jpg" %}" alt="">
            <h1>Alta</h1>
            <br>
            <p style="text:justify;">El promedio de daño al ambiente entre los factores sobrepasa el 80% en humedad,
                presencia de monóxido de carbono
                y una calidad del agua muy baja.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h1>Temperatura: {{ info.temperature|floatformat:2 }} °C</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h1>Monóxido de carbono: {{ info.monoxid|floatformat:2 }} gr</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h1>Calidad del agua: {{ info.water_quality|floatformat:2 }} wq</h1>
        </div>
    </div>
</div>
<footer>
    <ul class="list-inline" style="
    margin: 0px;
">
        SpaceApps 2016
    </ul>
</footer>
</body>
</html>
