<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="{% static "css/wuapa.css"%}">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<style type="text/css">
		.form-control{
			position: static;
			width: 200px;
		}
		.contenedor1{
			align: center;
		}

	</style>
</head>
<body>
	<header class="row">
		<div class="col-sm-6 menu_bar" style="padding: 0px;">
			<center><a href="#" class="bt_menu">Air CanSat</a></center>
		</div>
		<div class="col-sm-4" style="padding: 0px;" >
			<input class="form-control" placeholder="Buscar" type="text"></input>
		</div>
		<div class="col-sm-2" style="padding: #000;"><button class="btn btn-default" type="submit">Enviar</button>
		</div>
	</header>

	<div class="contenedor1">
		<div class="container">
                <div class="row">
                    <!--  <div class="col-xs-12 col-sm-6 col-md-3  border-col-md-3 ">
                      <center><h1>Cemex                 </h1></center>
 					  <center><a href="/"><img src="images/factory-icon.png" class="img-circle img-responsive center-block"></a></center>
                      <center><p>Empresa productora de ...</p></center>
                	</div>
                	<div class="col-xs-12 col-sm-6 col-md-3 border-col-md-3">
                   	  <center><h1>Minería Fresnillo</h1></center>
 					  <center><a href="empresa2.html"><img src="images/factory-icon.png" class="img-circle img-responsive center-block"></a></center>
                      <center><p>Empresa productora de ...</p></center>
                	</div>
                	<div  class="col-xs-12 col-sm-6 col-md-3 border-col-md-3">
                 	  <center><h1>Petroquimica Morelos</h1></center>
 					  <center><a href="empresa3.html"><img src="images/factory-icon.png" class="img-circle img-responsive center-block"></a></center>
                      <center><p>Empresa productora de ...</p></center>
                	</div>
                    -->

                    {% for company in companies %}
                        <div class="col-xs-12 col-sm-6 col-md-3 border-col-md-3">
                   	        <center><h1>{{company.name}}</h1></center>
 					        <center><a href="/{{ company.id }}"><img src="images/factory-icon.png" class="img-circle img-responsive center-block"></a></center>
                            <center><p>{{ company.address }}</p></center>
                        </div>

                    {% endfor %}
           		</div>
		</div>
	</div>
	<div id="footer"> By:@AirCanSat </div>
</body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
</html>