<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<title></title>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static "css/wuapa.css"%}">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<style type="text/css">
		.form-control{
			position: static;
			width: 200px;
		}
		.contenedor1{
			align: center;
		}

	</style>
</head>
<body style="
    background:rgb(222, 222, 222);
    font-family: 'Raleway', sans-serif;
">
	<header class="row">
		<div class="col-sm-6 menu_bar" style="padding: 0px;">
			<center><a style="font-family: raleway;" href="#" class="bt_menu">Air Can/Sat</a></center>
		</div>
		<div class="col-sm-4" style="padding: 0px;" >
			<input class="form-control" placeholder="Buscar" type="text"></input>
		</div>
		<div class="col-sm-2" style="padding: #000;"><button class="btn btn-default" type="submit">Enviar</button>
		</div>
	</header>

	<div class="contenedor1">
		<div class="container">
                <div class="row">

                    {% for company in companies %}
                        <div class="col-xs-4">
                   	        <p style="text-align: center; height: 50px; margin-top: 50px; display: block">
                                {{company.name}}
                            </p>
 					        <a href="/{{ company.id }}">
                                <img src="{{ company.image.url }}" class="img-circle img-responsive center-block" style="
                                width: 200px;
                                height: 200px;
                            ">
                            </a>
                            <p style="
                            text-align: center;
                            ">{{ company.address }}</>
                        </div>

                    {% endfor %}
           		</div>
		</div>
	</div>
	<div id="footer"> By:@AirCanSat </div>
</body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
</html>